:root{
    --Main-color: #0F1011;
    --Primary-color: #FFFFFF;
    --Secondary-color: #161718;
    --Para-color: #a2a2a2;
}
.hero{
    width: 100%;
    overflow: hidden;
    margin-top: 2%;
}
.hero .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top p{
    font-size: 12px;
    font-weight: 350;
    background-color: var(--Main-color);
    color: var(--Para-color);
    border-radius: 50px;
    padding: .2vw 1vw;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--Para-color), var(--Main-color)) 1;
    border-image:round;
}
.top h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin: 1%;
    color: var(--Primary-color);
}
.top h5{
    color: var(--Para-color);
   font-weight: 300;
   margin-bottom: 1%;
}
.top a{
    text-decoration: none;
    color: var(--Secondary-color);
    background: var(--Primary-color);
    padding: 7px 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 2%;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5%;
}
.top a:active{
    background-color: var(--Secondary-color);
    color: var(--Primary-color);
}
.top a>i{
    width: fit-content;
    height: fit-content;
    color: var(--Primary-color);
    background-color: var(--Secondary-color);
    padding: 4px 8px;
    border-radius: 13px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top a>i:active{
    background-color: var(--Secondary-color);
    color: var(--Primary-color);
}
.hero .bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-top: 1%;
}
.bottom img{
    width: 19%;
    border-radius: 80px;
}
.bottom img:first-child{
    rotate: -10deg;
}
.bottom img:nth-child(2){
    rotate: -10deg;
}
.bottom img:nth-child(3){
    rotate: -10deg;
}
.bottom img:nth-child(4){
    rotate: -10deg;
}
.bottom img:last-child{
    rotate: -10deg;
}

@media (max-width: 768px) {
    .hero {
        margin-top: 30%;
    }
    .top p{
        font-size: 10px;
        padding: 0 5px;
    }
    .top h1{
        margin-top: 5%;
        margin-bottom: 10%;
        font-size: 30px;
        line-height: 110%;
    }
    .top h5{
        font-size: 10px;
        text-align: center;
        padding: 0 20px;
        margin-bottom: 5%;
    }
    .top a{
        padding: 7.5px 15px;
        border-radius: 30px;
        font-size: 15px;
        margin-bottom: 5%;
    }
    .bottom{
        flex-wrap: wrap;
        width: 20vh;
        gap: 1vh;
    }
    .bottom img:first-child{
        width: 15vh;
    }
    .bottom img:nth-child(2){
        width: 20vh;
    }
    .bottom img:nth-child(3){
        width: 20vh;
    }
    .bottom img:nth-child(4){
        width: 15vh;
    }
    .bottom img:last-child{
        display: none;
    }
}
