:root{
    --Main-color: #0F1011;
    --Primary-color: #FFFFFF;
    --Secondary-color: #161718;
    --Para-color: #a2a2a2;
}
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
    background-color: var(--Secondary-color);
}
.footer .footer-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer .footer-logo h5{
    font-size: 25px;
    font-weight: 600;
}
.footer .f-links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    gap: 30px;
    color: var(--Para-color);
}
.footer .footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    font-size: 20px;
    font-weight: 100 ;
}
.footer .copyright{
    font-size: 12px;
    font-weight: 300;
     margin-bottom: 1%;
}
@media (max-width:768px) {
    .footer{
        margin-top: 20vw;
    }
    .footer .footer-logo img{
        width: 65px;
    }
    .footer .f-links{
        gap: 18px;
    }
    .footer .footer-icons{
        font-size: 25px;
        font-weight: 100;
        color: var(--Primary-color);
    }
    .footer .copyright{
        font-size: 10px;
        margin-bottom: 4%;
    }

    
}